@charset "UTF-8";

body {
	margin: 0;
} /* body 태그가 가지고 있는 기본 margin 제거 */

:root{
	position: relative;
	
}

/* #sidebar-box{

	position: absolute;
	left: 80px;
	top: 498px;
	width: 200px;
	height: 825px;
	
	margin-top : 0;
	box-sizing: content-box;
		
	opacity: 1;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #EECCCC 15%, rgba(255, 255, 255, 0) 100%);
}

#sidebar-content{
	
	position: absolute;
	top : 50px;		
	box-sizing: content-box;
	width: 100%;
	height: 60%;
	
	z-index: 1;
	
	text-align: center;
}


.sidebar-list{

	list-style-type: none;
	padding: 10px;
	
	font-size: x-large;
	font-weight: 400;
	font-style: italic;
	
}
.sidebar-list a{
	
	font-size: 18px;
	text-align: center;
	color: #2E0000;
} */

.my-page-main{
	position: absolute;
	left: 80px;
	top: 268px;
	width: 315px;
	height: 77px;
	margin-left : 10px;
	
	font-size: 45px;
	text-align: left;
	color: #000000;
	
	opacity: 1;
}

/* .welcome-message{
	position: absolute;
	left: 80px;
	top: 359px;
	width: 400px;
	height: 46px;
	margin-left : 10px;
}

#welcome-message-text{
	font-family: Oranienbaum;
	font-size: 20px;
	font-weight: normal;
	line-height: normal;
	color: #3D3D3D;
} */

.page-name{
	position: absolute;
	left: 315px;
	/* top: 439px; */
	width: 247px;
	height: 40px;
	margin-left : 10px;
	
	font-size: 32px;
	color: #3D3D3D;
}

.content .page-detail {
    position: absolute;
    margin-left : 10px;
    width: 400px;
    height: 35px;
    top: 50px;
    color: #3D3D3D;
    font-size: 30px;
    line-height: 35px;	
    font-weight: 400;
}

/* .line-1{
	position: absolute;
	left: 80px;
	top: 390px;
	width: 92%;
	height: 0px;
	
	opacity: 1;
	border-top: 2px solid rgba(0, 0, 0, 0.5);
}
.line-2{
	position: absolute;
	left: 315px;
	top: 482px;
	width: 80%;
	height: 0px;
	
	opacity: 1;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
} */

.content{
	
	box-sizing: content-box;
	
	width: 80%;
	height: 800px;
	
	position: absolute;
	left: 315px;
   
	
}






