<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<!-- 와인번호 채번 -->
	<select id="wineNo" resultType="int">
		SELECT WINE_SEQ.NEXTVAL FROM DUAL
	</select>

	<!-- 와인등록 -->
	<insert id="insertWine">
		<selectKey keyProperty="wineNo" resultType="int"
			order="BEFORE">
			SELECT WINE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO WINE
		VALUES (#{wineNo}, #{wineName}, #{grapeNo},
		#{countryNo}, #{vintage}, #{price}, #{volume}, #{quantity},
		#{content}, #{status})
	</insert>

	<!-- 와인 이미지 등록 -->
	<insert id="insertWineImg">
		INSERT INTO WINE_IMAGE
		VALUES (#{wineNo},
		#{originName}, #{changeName})
	</insert>

	<!-- 와인 맛 등록 -->
	<insert id="insertTaste">
		INSERT INTO CHARACTERISTIC
		VALUES
		(#{wineNo},#{body},#{sweet},#{bitter},#{sour})


	</insert>

	<resultMap type="wineExt" id="wineExtMap">
		<id column="WINE_NO" property="wineNo" />
		<result column="WINE_NAME" property="wineName" />
		<result column="GRAPE_NO" property="grapeNo" />
		<result column="COUNTRY_NO" property="countryNo" />
		<result column="VINTAGE" property="vintage" />
		<result column="PRICE" property="price" />
		<result column="VOLUME" property="volume" />
		<result column="QUANTITY" property="quantity" />
		<result column="CONTENT" property="content" />
		<result column="STATUS" property="status" />

		<association property="wineImage">
			<id column="WINE_NO" property="wineNo" />
			<result column="ORIGIN_NAME" property="originName" />
			<result column="CHANGE_NAME" property="changeName" />
		</association>

		<association property="country">
			<id column="COUNTRY_NO" property="countryNo" />
			<result column="COUNTRY_NAME" property="countryName" />
			<result column="COUNTRY_ENG_NAME" property="countryEngName" />
		</association>

		<association property="characteristic">
			<id column="WINE_NO" property="wineNo" />
			<result column="BODY" property="body" />
			<result column="SWEET" property="sweet" />
			<result column="BITTER" property="bitter" />
			<result column="SOUR" property="sour" />
		</association>

		<association property="grape">
			<id column="GRAPE_NO" property="grapeNo" />
			<result column="GRAPE_NAME" property="grapeName" />
			<result column="WINE_TYPE_NO" property="wineTypeNo" />
		</association>

		<association property="wineType">
			<id column="WINE_TYPE_NO" property="wineTypeNo" />
			<result column="WINE_TYPE_NAME" property="wineTypeName" />
			<result column="WINE_TYPE_ENG_NAME" property="wineTypeEngName" />
		</association>

	</resultMap>

	<select id="selectWine" resultMap="wineExtMap">

		SELECT
		W.WINE_NO AS WINE_NO,
		WINE_NAME, W.GRAPE_NO AS GRAPE_NO, G.GRAPE_NAME,
		W.COUNTRY_NO AS
		COUNTRY_NO, C.COUNTRY_NAME, VINTAGE, PRICE, VOLUME,
		QUANTITY, CONTENT,
		STATUS,
		WT.WINE_TYPE_NO, WT.WINE_TYPE_NAME,

		ORIGIN_NAME, CHANGE_NAME,

		BODY, SWEET, BITTER, SOUR

		FROM WINE W
		LEFT JOIN GRAPE G ON (G.GRAPE_NO=W.GRAPE_NO)
		LEFT JOIN COUNTRY C
		ON
		(C.COUNTRY_NO = W.COUNTRY_NO)
		LEFT JOIN WINE_IMAGE WI ON (WI.WINE_NO
		=
		W.WINE_NO)
		LEFT JOIN CHARACTERISTIC T ON (T.WINE_NO = W.WINE_NO)
		LEFT JOIN WINE_TYPE WT ON WT.WINE_TYPE_NO = G.WINE_TYPE_NO
		WHERE
		W.WINE_NO = #{wineNo}

	</select>






	<delete id="deleteWine" parameterType="int">
		BEGIN
		DELETE FROM
		CHARACTERISTIC WHERE WINE_NO = #{wineNo};
		DELETE FROM WINE_IMAGE WHERE
		WINE_NO = #{wineNo};
		DELETE FROM WINE WHERE WINE_NO = #{wineNo};

		COMMIT;

		END;




	</delete>
	
	<!-- 유저가 보는 와인 리스트 -->
	<select id="getwineList"  resultMap="wineExtMap" >
		SELECT
		W.WINE_NO,
		W.WINE_NAME,
		W.GRAPE_NO,
		W.COUNTRY_NO,
		W.VINTAGE,
		W.PRICE,
		W.VOLUME,
		W.QUANTITY,
		W.CONTENT,
		W.STATUS,
		WI.ORIGIN_NAME,
		WI.CHANGE_NAME,
		C.BODY,
		C.SWEET,
		C.BITTER,
		C.SOUR,
		G.GRAPE_NAME,
		CT.COUNTRY_NAME,
		
		
		WINE_TYPE_NO
		
		FROM WINE W
		LEFT JOIN
		WINE_IMAGE WI
		ON
		WI.WINE_NO = W.WINE_NO
		LEFT JOIN
		CHARACTERISTIC C
		ON
		C.WINE_NO = W.WINE_NO
		LEFT JOIN
		GRAPE G ON G.GRAPE_NO =W.GRAPE_NO
		LEFT JOIN
		COUNTRY CT ON CT.COUNTRY_NO=W.COUNTRY_NO
		WHERE
		W.STATUS = 'Y'
       
       <if test="wineNos != null and wineNos.size() > 0">
        AND W.WINE_NO IN
           <foreach item="wineNo" collection="wineNos" open="(" close=")" separator=",">
            #{wineNo}
        </foreach>
       </if>
       
        <if test="volumes != null and volumes.size() > 0">
            AND W.VOLUME IN
            <foreach item="volume" collection="volumes" open="(" close=")" separator=",">
                #{volume}
            </foreach>
        </if>
        <if test="countries != null and countries.size() > 0">
            AND W.COUNTRY_NO IN
            <foreach item="country" collection="countries" open="(" close=")" separator=",">
                #{country}
            </foreach>
        </if>
         <if test="types != null and types.size() > 0">
            AND G.WINE_TYPE_NO IN
            <foreach item="type" collection="types" open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>
        <if test="redSubTypes != null and redSubTypes.size() > 0">
            AND W.GRAPE_NO IN
            <foreach item="grapeNo" collection="redSubTypes" open="(" close=")" separator=",">
                #{grapeNo}
            </foreach> 
        </if>
         <if test="whiteSubTypes != null and whiteSubTypes.size() > 0">
            AND W.GRAPE_NO IN
            <foreach item="grapeNo" collection="whiteSubTypes" open="(" close=")" separator=",">
                #{grapeNo}
            </foreach> 
        </if>
         <if test="sparklingSubTypes != null and sparklingSubTypes.size() > 0">
            AND W.GRAPE_NO IN
            <foreach item="grapeNo" collection="sparklingSubTypes" open="(" close=")" separator=",">
                #{grapeNo}
            </foreach> 
        </if>
        
        <if test="minPrices != null and minPrices.size() > 0">
             AND W.PRICE >=
            <foreach item="minPrice" collection="minPrices" open="(" close=")" separator=",">
                 #{minPrice}
            </foreach>
        </if>
        
        
        <if test="maxPrices != null and maxPrices.size() > 0">
        	AND W.PRICE &lt;=
            <foreach item="maxPrice" collection="maxPrices" open="(" close=")" separator=",">
                 ${maxPrice}
            </foreach>
        </if>
		
		<if test="minPrice != null">
            AND W.PRICE >= #{minPrice}
        </if>
        <if test="maxPrice != null">
            AND #{maxPrice}>= W.PRICE 
        </if>
       
		
		<if test="keyword != null and keyword != ''">
			AND
			(W.WINE_NAME LIKE '%' || #{keyword} ||'%'
			OR
			W.CONTENT LIKE '%' || #{keyword} ||'%'
			OR
			TO_CHAR(W.VINTAGE) LIKE '%' || #{keyword} ||'%'
			OR
			G.GRAPE_NAME LIKE '%' || #{keyword} ||'%'
			OR
			CT.COUNTRY_NAME LIKE '%' || #{keyword} ||'%'
			)
		</if>
		

		<choose>
			<when test="sortOption == 'pricehigh'">
				ORDER BY W.PRICE DESC
			</when>
			<when test="sortOption == 'pricelow'">
				ORDER BY W.PRICE ASC
			</when>
			<when test="sortOption == 'recent'">
				ORDER BY W.WINE_NO DESC
			</when>

		</choose>
	</select>

	<!--페이징 -->
	<select id="selectListCount" resultType='int'>
		SELECT
		COUNT(*)
		FROM WINE W
		WHERE W.STATUS
		= 'Y'
		<if test="keyword != null and keyword != ''">
			AND
			(WINE_NAME LIKE '%' || #{keyword} ||'%'
			OR
			CONTENT LIKE '%' || #{keyword} ||'%')
		</if>
		
	<choose>
			<when test="sortOption == 'pricehigh'">
				ORDER BY W.PRICE DESC
			</when>
			<when test="sortOption == 'pricelow'">
				ORDER BY W.PRICE ASC
			</when>
			<when test="sortOption == 'recent'">
				ORDER BY W.WINE_NO DESC
			</when>

		</choose>
		
	</select>

	<!--최대가격 최소가격  -->
	
	<select id="getMaxPrice" resultType='int'>
		SELECT MAX(PRICE) FROM WINE
		
	</select>

	<select id="getMinPrice" resultType='int'>
		SELECT MIN(PRICE) FROM WINE
	</select>
	


	<!-- 필터  --> 
	    <select id="searchByAjax" resultMap="wineExtMap">
        SELECT
            W.WINE_NO,
            W.WINE_NAME,
            W.GRAPE_NO,
            W.COUNTRY_NO,
            W.VINTAGE,
            W.PRICE,
            W.VOLUME,
            W.QUANTITY,
            W.CONTENT,
            W.STATUS,
            WI.ORIGIN_NAME,
            WI.CHANGE_NAME,
            C.BODY,
            C.SWEET,
            C.BITTER,
            C.SOUR,
            G.GRAPE_NAME,
            CT.COUNTRY_NAME,
            WT.WINE_TYPE_NO,
    		WT.WINE_TYPE_NAME
        FROM WINE W
        LEFT JOIN WINE_IMAGE WI ON WI.WINE_NO = W.WINE_NO
        LEFT JOIN CHARACTERISTIC C ON C.WINE_NO = W.WINE_NO
        LEFT JOIN GRAPE G ON G.GRAPE_NO = W.GRAPE_NO
        LEFT JOIN COUNTRY CT ON CT.COUNTRY_NO = W.COUNTRY_NO
        LEFT JOIN WINE_TYPE WT ON WT.WINE_TYPE_NO = G.WINE_TYPE_NO
       
        WHERE W.STATUS = 'Y'
       
       
        <if test="volumes != null and volumes.size() > 0">
            AND W.VOLUME IN
            <foreach item="volume" collection="volumes" open="(" close=")" separator=",">
                #{volume}
            </foreach>
        </if>
        <if test="countries != null and countries.size() > 0">
            AND W.COUNTRY_NO IN
            <foreach item="country" collection="countries" open="(" close=")" separator=",">
                #{country}
            </foreach>
        </if>
         <if test="types != null and types.size() > 0">
            AND G.WINE_TYPE_NO IN
            <foreach item="type" collection="types" open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>
        <if test="redSubTypes != null and redSubTypes.size() > 0">
            AND W.GRAPE_NO IN
            <foreach item="grapeNo" collection="redSubTypes" open="(" close=")" separator=",">
                #{grapeNo}
            </foreach> 
        </if>
         <if test="whiteSubTypes != null and whiteSubTypes.size() > 0">
            AND W.GRAPE_NO IN
            <foreach item="grapeNo" collection="whiteSubTypes" open="(" close=")" separator=",">
                #{grapeNo}
            </foreach> 
        </if>
         <if test="sparklingSubTypes != null and sparklingSubTypes.size() > 0">
            AND W.GRAPE_NO IN
            <foreach item="grapeNo" collection="sparklingSubTypes" open="(" close=")" separator=",">
                #{grapeNo}
            </foreach> 
        </if>
        
        <if test="minPrices != null and minPrices.size() > 0">
             AND W.PRICE >=
            <foreach item="minPrice" collection="minPrices" open="(" close=")" separator=",">
                 #{minPrice}
            </foreach>
        </if>
        
        
        <if test="maxPrices != null and maxPrices.size() > 0">
        	AND W.PRICE &lt;=
            <foreach item="maxPrice" collection="maxPrices" open="(" close=")" separator=",">
                 ${maxPrice}
            </foreach>
        </if>
       
       
       <choose>
			<when test="sortOption == 'pricehigh'">
				ORDER BY W.PRICE DESC
			</when>
			<when test="sortOption == 'pricelow'">
				ORDER BY W.PRICE ASC
			</when>
			<when test="sortOption == 'recent'">
				ORDER BY W.WINE_NO DESC
			</when>

		</choose>
        
        

    </select>
    
    <select id ="selectProduct" resultMap = "wineExtMap">
    	SELECT
		W.WINE_NO AS WINE_NO,
		WINE_NAME, W.GRAPE_NO AS GRAPE_NO, G.GRAPE_NAME,
		W.COUNTRY_NO AS
		COUNTRY_NO, C.COUNTRY_NAME, VINTAGE, PRICE, VOLUME,
		QUANTITY, CONTENT,
		STATUS,

		ORIGIN_NAME, CHANGE_NAME,

		BODY, SWEET, BITTER, SOUR

		FROM WINE W
		LEFT JOIN GRAPE G ON (G.GRAPE_NO=W.GRAPE_NO)
		LEFT JOIN COUNTRY C
		ON
		(C.COUNTRY_NO = W.COUNTRY_NO)
		LEFT JOIN WINE_IMAGE WI ON (WI.WINE_NO
		=
		W.WINE_NO)
		LEFT JOIN CHARACTERISTIC T ON (T.WINE_NO = W.WINE_NO)
		
		WHERE
		W.WINE_NO = #{wineNo}
    
    
    </select>
    
    <!-- 오더페이지 이동 -->
	<select id="orderWineList" resultMap="wineExtMap">
		SELECT W.WINE_NO, W.WINE_NAME, W.PRICE,
		
		WI.ORIGIN_NAME,WI.CHANGE_NAME
		
		
		FROM WINE W
		LEFT JOIN WINE_IMAGE WI ON(WI.WINE_NO=W.WINE_NO)
		
		
		WHERE
		W.WINE_NO =#{wineNo}
	
	
	
	</select>
 	
 	
 	<!-- 구매 히스토리 등록 -->
 	
 	<resultMap type="historyExt" id="historyExtMap">
		
		<id column="ORDER_NO" property="orderNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="WINE_NO" property="wineNo"/>
		<result column="ORDER_DATE" property="orderDate"/>
		<result column="D_STATUS" property="dStatus"/>
		<result column="C_STATUS" property="cStatus"/>
		<result column="QTY" property="qty"/>
		<result column="DELIVERY_ADDRESS" property="deliveryAddress"/>

		<association property="wineImage">
			<result column="ORIGIN_NAME" property="originName"/>
			<result column="CHANGE_NAME" property="changeName"/>
		</association>
		
		<association property="wine" columnPrefix="wine_">
			<id column="WINE_NO" property="wineNo" />
			<result column="WINE_NAME" property="wineName"/>
			<result column="PRICE" property="price"/>
			<result column="QUANTITY" property="quantity"/>
			<result column="CONTENT" property="content"/>
			<result column="STATUS" property="status"/>
			
		</association>
		
		<association property="review" columnPrefix="review_">
			<id column="REVIEW_NO" property="reviewNo"/>
			<result column="ORDER_NO" property="orderNo"/>
			<result column="CONTENT" property="content"/>
			<result column="STATUS" property="status"/>
		</association>

		<association column="user" property="user">
			<id column="USER_NO" property="userNo"/>
			<id column="GRADE_NO" property="gradeNo"/>
			<id column="USER_ID" property="userId"/>
			<id column="USER_PWD" property="userPwd"/>
			<id column="USER_NAME" property="userName"/>
			<id column="USER_EMAIL" property="userEmail"/>
			<id column="USER_SSN" property="userSsn"/>
			<id column="PHONE" property="phone"/>
			<id column="ADDRESS" property="address"/>
			<id column="ENROLLDATE" property="enrollDate"/>
			<id column="MODIFYDATE" property="modifyDate"/>
			<id column="STATUS" property="status"/>
			<id column="VERIFIED" property="verified"/>
		
		</association>

		
	</resultMap>
	
 	<insert id="insertHistroy">
 		INSERT INTO HISTORY
 		( 
 			ORDER_NO,
			USER_NO,
			WINE_NO,
			ORDER_DATE,
			D_STATUS,
			C_STATUS,
			QTY,
			DELIVERY_ADDRESS
			
			)VALUES(
			1,
			#{userNo},
			#{wineNo},
			DEFAULT,
			DEFAULT,
			DEFAULT,
			#{qty},
			#{deliveryAddress}
				)
 	</insert>
 	
 	<update id="updateProductQty" parameterType="wine">
    UPDATE WINE
    SET QUANTITY = QUANTITY - #{quantity}
    WHERE WINE_NO = #{wineNo}
	</update>
 	
 	
 	
 	
 	<select id="getNewProductList" resultMap="wineExtMap">
	SELECT *
	FROM (
    SELECT W.WINE_NAME, W.PRICE, W.COUNTRY_NO, G.WINE_TYPE_NO, WI.CHANGE_NAME, W.WINE_NO
    FROM WINE W 
    LEFT JOIN WINE_IMAGE WI ON WI.WINE_NO = W.WINE_NO
    LEFT JOIN GRAPE G ON G.GRAPE_NO = W.GRAPE_NO
    WHERE W.STATUS = 'Y'
    ORDER BY W.WINE_NO DESC
    )
    WHERE ROWNUM &lt; 5
		
 	</select>
 	
 	
 	<select id="cart" resultMap="wineExtMap">
 	SELECT
		W.PRICE, W.WINE_NO, W.WINE_NAME, WI.ORIGIN_NAME, WI.CHANGE_NAME
 	FROM WINE W
 	LEFT JOIN WINE_IMAGE WI ON WI.WINE_NO = W.WINE_NO
 	WHERE W.WINE_NO = #{wineNo}
 	</select>
 	
 	
 	
 	
 	
 	
 	

</mapper>