<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">


	<select id="selectUserList"> SELECT * FROM USER
	</select>

	<select id="login" parameterType="user" resultType="user">
		SELECT * FROM
		"USER" WHERE USER_ID= #{userId}
		AND STATUS = 'Y'
	</select>

	<insert id="insertUser" parameterType="user">
		INSERT INTO
		"C##WINEPICKER"."USER"
		VALUES(
		USER_SEQ.NEXTVAL,
		DEFAULT,
		#{userId},
		#{userPwd},
		#{userName},
		#{userEmail},
		#{userSsn},
		#{phone},
		#{address},
		DEFAULT,
		DEFAULT,
		DEFAULT
		)
	</insert>

	<select id="idCheck" parameterType="String" resultType="int">
		SELECT
		COUNT(*) FROM "USER" WHERE USER_ID = #{userId}
	</select>

	<select id="checkEmail" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM USER WHERE EMAIL = #{userEmail}
	</select>


	<select id="loginUser" parameterType="User" resultType="User">
		SELECT * FROM USER WHERE USER_ID = #{userId} AND USER_PWD = #{userPwd}

	</select>
	
	 <select id="findId" parameterType="map" resultType="String">
        SELECT USER_ID
        FROM "USER"
        WHERE USER_NAME = #{userName}
        AND USER_EMAIL = #{userEmail}
    </select>
    
    <select id="findPwd" parameterType="map" resultType="string">
        SELECT USER_PWD
        FROM "USER"
        WHERE USER_Id = #{userId}
        AND USER_EMAIL = #{userEmail}
    </select>

	<select id="selectFaqList" resultType="faq">
		SELECT *
		FROM FAQ	
	
	</select>
	
	<select id="selectFaq" resultType="faq" parameterType="int">
		SELECT *
		FROM FAQ
			WHERE FAQ_NO = #{faqNo} 
	</select>
	
	<select id="selectMyWishList" resultMap="wineExtMap" parameterType="int" >
		SELECT 
			WINE_NO,
			WINE_NAME,
			GRAPE_NO,
			COUNTRY_NO,
			VINTAGE,
			PRICE,
			VOLUME,
			QUANTITY,
			CONTENT,
			STATUS,
			
			ORIGIN_NAME,
			CHANGE_NAME
		
		FROM 
			WISH
			LEFT JOIN WINE USING (WINE_NO)
			LEFT JOIN WINE_IMAGE USING (WINE_NO)
		WHERE USER_NO = #{userNo}
	</select>
	
	<resultMap type="wineExt" id="wineExtMap">
	
		<id column="WINE_NO" property="wineNo"/>
		<result column="WINE_NAME" property="wineName"/>
		<result column="GRAPE_NO" property="grapeNo"/>
		<result column="COUNTRY_NO" property="countryNo"/>
		<result column="VINTAGE" property="vintage"/>
		<result column="PRICE" property="price"/>
		<result column="VOLUME" property="volume"/>
		<result column="QUANTITY" property="quantity"/>
		<result column="CONTENT" property="content"/>
		<result column="STATUS" property="status"/>

		<association property="wineImage">
			<result column="ORIGIN_NAME" property="originName"/>
			<result column="CHANGE_NAME" property="changeName"/>
			
		</association>
	
	</resultMap>
	
	<select id="selectMyPurchaseList" resultType="history">
		SELECT *
		FROM HISTORY
		WHERE ORDER_DATE = SYSDATE 
			AND USER_NO = #{userNo}
	
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>